<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaojun.cartcenter.mapper.BusinessParkingSpaceMapper">
  <resultMap id="BaseResultMap" type="com.xiaojun.cartcenter.domain.entity.BusinessParkingSpace">
    <!--@mbg.generated-->
    <result column="ps_id" jdbcType="VARCHAR" property="psId" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="community_id" jdbcType="VARCHAR" property="communityId" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="type_cd" jdbcType="VARCHAR" property="typeCd" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="area" jdbcType="DECIMAL" property="area" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
  </resultMap>
  <insert id="insert" parameterType="com.xiaojun.cartcenter.domain.entity.BusinessParkingSpace">
    <!--@mbg.generated-->
    insert into business_parking_space (ps_id, b_id, community_id, 
      num, type_cd, `state`, 
      area, user_id, remark, 
      create_time, operate)
    values (#{psId,jdbcType=VARCHAR}, #{bId,jdbcType=VARCHAR}, #{communityId,jdbcType=VARCHAR}, 
      #{num,jdbcType=VARCHAR}, #{typeCd,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{area,jdbcType=DECIMAL}, #{userId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{operate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaojun.cartcenter.domain.entity.BusinessParkingSpace">
    <!--@mbg.generated-->
    insert into business_parking_space
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="psId != null">
        ps_id,
      </if>
      <if test="bId != null">
        b_id,
      </if>
      <if test="communityId != null">
        community_id,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="typeCd != null">
        type_cd,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="operate != null">
        operate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="psId != null">
        #{psId,jdbcType=VARCHAR},
      </if>
      <if test="bId != null">
        #{bId,jdbcType=VARCHAR},
      </if>
      <if test="communityId != null">
        #{communityId,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="typeCd != null">
        #{typeCd,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operate != null">
        #{operate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>