<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaojun.buildingmanager.mapper.BusinessFloorMapper">
  <resultMap id="BaseResultMap" type="com.xiaojun.buildingmanager.domain.entity.BusinessFloor">
    <!--@mbg.generated-->
    <result column="floor_id" jdbcType="VARCHAR" property="floorId" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="floor_num" jdbcType="VARCHAR" property="floorNum" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
  </resultMap>
  <insert id="insert" parameterType="com.xiaojun.buildingmanager.domain.entity.BusinessFloor">
    <!--@mbg.generated-->
    insert into business_floor (floor_id, b_id, floor_num, 
      `name`, user_id, remark, 
      create_time, operate)
    values (#{floorId,jdbcType=VARCHAR}, #{bId,jdbcType=VARCHAR}, #{floorNum,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{operate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaojun.buildingmanager.domain.entity.BusinessFloor">
    <!--@mbg.generated-->
    insert into business_floor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="floorId != null">
        floor_id,
      </if>
      <if test="bId != null">
        b_id,
      </if>
      <if test="floorNum != null">
        floor_num,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="operate != null">
        operate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="floorId != null">
        #{floorId,jdbcType=VARCHAR},
      </if>
      <if test="bId != null">
        #{bId,jdbcType=VARCHAR},
      </if>
      <if test="floorNum != null">
        #{floorNum,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operate != null">
        #{operate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="selectAll" resultMap="BaseResultMap">
      select floor_id, b_id, floor_num,
      `name`, user_id, remark,
      create_time, operate
      from business_floor
    </select>
  <select id="selectById" resultMap="BaseResultMap">
    select
    floor_id, b_id, floor_num,
      `name`, user_id, remark,
      create_time, operate
    from business_floor where floor_id=#{floorId}
  </select>
</mapper>